.logo{
    height: 50px;
}
.table-center{
    margin:20px 150px;
    font-size: 10px;
}
.btn-success, .btn-primary{
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}
.header-main{
    margin:20px 150px;
    display:flex;
    justify-content:flex-start;
}
.card-right-top{
    width: 18rem;
    margin:10px 30px;
}
.center-main{
     margin:20px 150px;
}